*{
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
			box-sizing: border-box;
}

	body {background:#E5E7E9;}

	/*---------------Menu-----------------------*/

	
	header nav {
		background: grey ;
		z-index:1000;
		max-width: 1000px;
		width:10px;
		margin:2px auto;
		margin-bottom:0px;
		padding-left:9px;
	}

	header nav ul {
		list-style:none;
	}

	header nav ul li {
		display:inline-block;
		position: relative;
	}

	header nav ul li:hover {
		background:dimgray ;
	}

	header nav ul li a {
		color:#fff;
		display:block;
		text-decoration:none;
		padding: 15px;
	}

	header nav ul li a:hover{
		background-color: darkgray ;

	}
	header nav ul li a span {
		margin-right:10px;
	}

	header nav ul li:hover .children {
		display:block;
		  background:#839192;
	}

	header nav ul li .children {
		display: none;
		background:#839192;
		position: absolute;
		width: 15px;
		z-index:100000;
	}

	header nav ul li .children li {
		display:block;
		overflow: hidden;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

	header nav ul li .children li a {
		display: block;
	}

	header nav ul li .children li a span {
		float: right;
		position: relative;
		top:5px;
		margin-right:0px;
		margin-left:10px;
		   

	}

	header nav ul li .caret {
		position: relative;
		top:3px;
		margin-left:10px;
		margin-right:0px;
	}

  
    .menu_bar {
        display:block;
        width:260px;
        position: fixed;
        float: left;
        top:0;
        left: 0;
        background: #5f6a6a ; 
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 8px;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;        
    }

    .menu_bar span {
        float: right;
        font-size: 40px;   
    }

    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: absolute;
        right:100%;
        overflow: scroll;
        margin:0%;
        margin-top:45px;
        padding:0px;
    }

    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);        
    }

    header nav ul li a {
        display: block;       
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;       
    }

    header nav ul li .children li a {
        margin-left:3px;
    }

    header nav ul li .caret {
        float: right;
    }

	/*----------------Imagenes--------------*/

 *{
    margin:0%; 
    padding: 0%;
  }

.segunda{ /*flechas_atras_alante contenedor*/
    float: right;
    position: absolute;
    margin-left: 230px;
    margin-top: -60px;
    padding-top: 0px; 
    padding-left: 1px; 
    z-index: -2;
}

.tercera{ /*Mapa contenedor*/
    float: rigth;
    position: absolute;
    margin-top: 40px;
    margin-left: 0px;
    height: 365px;
    width: 385px;
    padding-top: 0px; 
    padding-left: 1px; 
    z-index: -2;
}
#mapa{
    width: 365px;
    height: 100%;
    z-index: -2;
    background-repeat:no-repeat;
}
img{
width: 150px;
}

/*Botones siguiguiente*/
#siguiente{
    position: relative; 
}

#anterior{
    position: relative;    
    margin-left: 2%;
    margin-top: 2%;
}

#anterior_audio{
   position: relative;    
    margin-left: 2%;
    margin-top: 2%;
}

#g_medio{
    position: relative;    
    margin-left: 40%;
    margin-top: -20%;
    width: 5%;
    height: 5%;
	z-index: 2;
}

#siguiente_m{
	position: relative;    
    margin-left: 35%;
    margin-top: -10%;
    width: 5%;
    height: 5%;
}
#siguiente_gmedio_p2{
	position: relative;    
   margin-left: 3px;
	z-index: 4;

}
#anterior_patio_f2a{
	position: relative;    
    margin-left: 3px;
    margin-top: -8px;
    margin-bottom: -158px;
    z-index: -4;
}

/*Botones de llegada */

#foto_biblio{
    position: relative;    
    margin-left: 70px;
    margin-top: -62px;
}

#foto_direccion{
    position: relative;    
    margin-left: 210px;
    margin-top: -295px;
}


#foto_audiovisual{
	position: relative;    
    margin-left: 15%;
    margin-top: -3%;
    width: 25%;
    height: 10%;
}
/*flechas*/

#biblioteca_gif{
    position: relative;    
    margin-left: 150px;
    margin-top: -210px;
    width: 100px;
    height: 150px;
    z-index: 22;
}

#abajo_central{
    position: relative;    
    margin-left: 130px;
    margin-top: -100px;
    width: 100px;
    height: 50px; 
}


#f2a{
    position: relative;    
    margin-left: 30px;
    margin-top: -10px;
    width: 120px;
    height: 120px; 
}

#patio{
	position: relative;    
	margin-left: 30%;
	margin-top: -6%;
	width: 190px;
	height: 20%;
}